.lab_list {
    color:red;
}

.lab_link {
  color:brown;
}

#unique {
  color:green;
}

#wow {
  color:yellow;
}

.main_web {
  background-color: #64b9db;
  border: solid 1px #0d6c38;
  font-size: 14px;
}

h1 {
  font-size: 20px;
  color:green;
  margin-left: 20px;
}

p {
  font-family: "courier new";
  margin-left: 10px;
}
